<div class="container" *ngIf="!formSubmitted">
    <div class="card">
      <header class="mainHearder card">
        <div class="row classRow">
          <div class="col-lg-4">
            <div class="clearForm">
              <button type="button" id='clear' class="btn btn-primary"  (click)="clearForm()">Clear Form</button>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="title" style="padding-top: 12px;">
              <label>ADD EMPLOYEE</label>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="confirmForm">
              <button type="button" id='submit'  class="btn btn-success" (click)="submitForm()">Submit</button>
            </div>
          </div>
        </div>
      </header>
      <div class="container1">
      <form [formGroup]="pop" (ngSubmit)="submitForm()">    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="DedalusId">DedalusId<span  style="color:red"> *</span></label>
              <input type="text" class="form-control" id="DedalusId" formControlName="DedalusId" placeholder="DedalusId">
              <span *ngIf="pop.get('DedalusId')?.invalid && pop.get('DedalusId')?.touched" class="text-danger">DedalusId required.</span>
            </div> 
          </div>      
          <div class="col-md-6">
            <div class="form-group">
              <label for="EmployeeCode">EmployeeCode <span  style="color:red"> *</span></label>
              <input type="text" class="form-control" id="EmployeeCode" formControlName="EmployeeCode" placeholder="EmployeeCode Name">
              <span *ngIf="pop.get('EmployeeCode')?.invalid && pop.get('EmployeeCode')?.touched" class="text-danger">EmployeeCode is required.</span>
            </div>
          </div>        
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="EmployeeName">EmployeeName<span  style="color:red"> *</span></label>
              <input type="email" class="form-control" id="EmployeeName" formControlName="EmployeeName" placeholder="Enter employeeName">
              <span *ngIf="pop.get('EmployeeName')?.invalid && pop.get('EmployeeName')?.touched" class="text-danger">EmployeeName is required.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Employee_MailId">Employee_MailId<span  style="color:red"> *</span></label>
              <input type="Employee_MailId" class="form-control" id="Employee_MailId" formControlName="Employee_MailId" placeholder="Enter Employee_MailId">           
              <span *ngIf="pop.get('Employee_MailId')?.invalid && pop.get('Employee_MailId')?.touched" class="text-danger">Location is required.</span>
            </div>
          </div>
        </div>
        <div class="row">         
          <div class="col-md-6">
            <div class="form-group">
              <label for="Gender" >Gender<span  style="color:red"> *</span></label>
              <select class="form-select" id="Gender" formControlName="Gender">                
                <option value="male" >Male</option>
                <option  value="Female">Female</option>
              </select>
              <span *ngIf="pop.get('Gender')?.invalid && pop.get('Gender')?.touched" class="text-danger">Gender is required.</span>
            </div>     
                    
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Location">Location <span  style="color:red"> *</span></label>
               <select class="form-select" id="Location" formControlName="Location" placeholder="Select Location">                 
                <option value="chennai">Chennai</option>
                <option value="noida">Noida</option>
               </select>
              <span *ngIf="pop.get('Location')?.invalid && pop.get('Location')?.touched" class="text-danger">Location is required.</span>
            </div>                  
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="ManagerName"> ManagerName<span  style="color:red"> *</span></label>
              <input type=" ManagerName" class="form-control" id=" ManagerName" formControlName="ManagerName" placeholder="Enter  ManagerName">           
              <span *ngIf="pop.get('ManagerName')?.invalid && pop.get('ManagerName')?.touched" class="text-danger"> ManagerName is required.</span>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ManagerMailId"> ManagerMailId<span  style="color:red"> *</span></label>
              <input type="ManagerMailId" class="form-control" id="  ManagerMailId" formControlName="ManagerMailId" placeholder="Enter   ManagerMailId">           
              <span *ngIf="pop.get('ManagerMailId')?.invalid && pop.get('ManagerMailId')?.touched" class="text-danger">  ManagerMailId is required.</span>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="ManagerCode">ManagerCode <span  style="color:red"> *</span></label>
              <input type="ManagerCode" class="form-control" id="ManagerCode" formControlName="ManagerCode" placeholder="EnterManagerCode">           
              <span *ngIf="pop.get('ManagerCode')?.invalid && pop.get('ManagerCode')?.touched" class="text-danger">ManagerCode is required.</span>
             
            </div>          
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="DateofJoin">CSC_DOJ<span  style="color:red"> *</span></label>
              <input type="date" class="form-control" id="cscDoj" formControlName="DateofJoin" placeholder="DateofJoin" required>
              <span *ngIf="pop.get('DateofJoin')?.invalid && pop.get('DateofJoin')?.touched" class="text-danger">DateofJoin is required.</span>             
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="ProductGroup">ProductGroup <span  style="color:red"> *</span></label>
              <select class="form-select" id="ProductGroup"  formControlName="ProductGroup">
                <option *ngFor="let a of  productgroup" [value]="a.Description">{{a.Description}}</option>                                   
              </select>              
              <span *ngIf="pop.get('ProductGroup')?.invalid && pop.get('ProductGroup')?.touched" class="text-danger">ProductGroup is required.</span>
            
            </div>         
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Product">Product <span  style="color:red"> *</span></label>
              <select class="form-select" id="Product" formControlName="Product">
               <option *ngFor="let b of productdata" [value]="b.Description">{{b.Description}}</option>                                         
              </select>               
              <span *ngIf="pop.get('Product')?.invalid && pop.get('Product')?.touched" class="text-danger">Product is required.</span>
            </div>                
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="ProductWorkArea">Product Worked Area<span  style="color:red"> *</span></label>
              <select class="form-select" id="productWorkedArea" formControlName="ProductWorkArea">
                <option *ngFor="let c of productworkdata" [value]="c.Description">{{c.Description}}</option>                                         
              </select> 
              <span *ngIf="pop.get('ProductWorkArea')?.invalid && pop.get('ProductWorkArea')?.touched" class="text-danger">Product Worked Area is required.</span>            
            </div>
          </div>        
          <div class="col-md-6">
            <div class="form-group">
              <label for="WorkGroup">WorkGroup<span  style="color:red"> *</span></label>
              <select class="form-select" id="WorkGroup" formControlName="WorkGroup">
                <option *ngFor="let d of workgroupdata" [value]="d.Description">{{d.Description}}</option>                 
               </select> 
              <span *ngIf="pop.get('WorkGroup')?.invalid && pop.get('WorkGroup')?.touched" class="text-danger">Work Group is required.</span>
           </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="UnifiedRoles">UnifiedRoless<span  style="color:red"> *</span></label>          
              <select class="form-select" id="unifiedRoles" formControlName="UnifiedRoles">
                <option *ngFor="let e of unifieddata" [value]="e.Description">{{e.Description}}</option>                         
             </select>
              <span *ngIf="pop.get('UnifiedRoles')?.invalid && pop.get('UnifiedRoles')?.touched" class="text-danger">Unified Roles is required.</span>
            </div>            
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="HLRole">HLRole<span  style="color:red"> *</span></label>
              <select class="form-select" id="HLRole" formControlName="HLRole">                                 
                <option *ngFor="let x of roledata" [value]="x.Description">{{x.Description}}</option>                
              </select>
              <span *ngIf="pop.get('HLRole')?.invalid && pop.get('HLRole')?.touched" class="text-danger">HL Role is required.</span>                              
            </div>        
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <!-- (selectionChange)="getdomain($event)" -->
              <label for="HLDesignation">HLDesignation <span  style="color:red"> *</span></label>
              <select class="form-select" id="HLDesignation"   formControlName="HLDesignation">  
                <option *ngFor="let datas of desiginationdata" [value]="datas.Description">{{datas.Description}}</option>       
               </select> 
              <span *ngIf="pop.get('HLDesignation')?.invalid && pop.get('HLDesignation')?.touched" class="text-danger">HL Designation is required.</span>                      
            </div>        
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="HLTitle">HLTitle<span  style="color:red"> *</span></label>
              <select class="form-select" id="HLTitle"   formControlName="HLTitle" placeholder="select title">                     
                <option *ngFor="let y of titledata" [value]="y.Description">{{y.Description}}</option>    
               </select> 
              <span *ngIf="pop.get('HLTitle')?.invalid && pop.get('HLTitle')?.touched" class="text-danger">HL Title is required.</span>              
           </div>       
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Unit">Unit<span  style="color:red"> *</span></label>
              <select class="form-select" id="Unit"   formControlName="Unit" placeholder="select Unit">                     
                <option *ngFor="let z of unitdata " [value]="z.Description">{{z.Description}}</option>    
               </select>             
              <span *ngIf="pop.get('Unit')?.invalid && pop.get('Unit')?.touched" class="text-danger">Unit is required.</span>
            </div>                         
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="owning">Owning<span  style="color:red"> *</span></label>
              <select class="form-select" id="Owning"  formControlName="Owning" placeholder="select Owning">                     
                <option *ngFor="let l of owingdata" [value]="l.Description">{{l.Description}}</option>    
               </select> 
              <span *ngIf="pop.get('Owning')?.invalid && pop.get('Owning')?.touched" class="text-danger">Owning is required.</span>
            </div>                        
          </div>
        </div>
        <div class="success-message" *ngIf="formSubmitted">
          <h3>Form submitted successfully!</h3>
          <p>Thank you for your submission.</p>
        </div>  
      
      </form>
    </div>
</div>