 .clearForm{
  float: left;
  text-align: left;
}
.title{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.confirmForm{
  float: right;
  text-align: right;
}
.mainHearder{
  border: 1px solid black;
  border-radius: 5px;
}
.classRow{
  padding: 10px;
}
.card{
  width: 72%;
  height: 50%;
  min-height: 50%;
  overflow: auto;
}
.container{
  margin-left: 60px;
} 
/* .container1{
  overflow:scroll;
}  */

